:services:
  :shared_secret:
  :api_name: realtimecongress

:email:
  :from:
  :via: :smtp
  :via_options:
    :address:
    :port:
    :user_name:
    :password:
    :authentication: plain
    :domain:
    :enable_starttls_auto: false
