# Analytics

0 6 * * *  /projects/rtc/shared/cron/analytics.sh


############# RTC Tasks ########################3

# legislators and committees from unitedstates data
0 3 * * *    /projects/rtc/shared/cron/task.sh legislators && /projects/rtc/shared/cron/task.sh committees

# bills synced from gathered THOMAS data
0 10,16 * * * /projects/rtc/run-thomas.sh && /projects/rtc/shared/cron/task.sh bills_thomas

# amendments synced from GovTrack - sync once a day
30 16 * * * /projects/rtc/shared/cron/task.sh amendments_archive

# full bill text from GPO
0 10 * * * /projects/rtc/shared/cron/task.sh bulk_gpo_bills
0 11 * * * /projects/rtc/shared/cron/task.sh bill_text_archive

# popular bill names, check once an hour
0 * * * * /projects/rtc/shared/cron/task.sh bills_popular_names

# video
30 9 * * *    /projects/rtc/shared/cron/task.sh house_live captions=True
30 7 * * *    /projects/rtc/shared/cron/task.sh house_live captions=True senate=True


# votes from house and senate, download last 10 votes every few minutes, stagger them
*/15 * * * * /projects/rtc/shared/cron/task.sh votes_house latest=10
*/20 * * * * /projects/rtc/shared/cron/task.sh votes_senate latest=10

# re-download all votes for the year, once a day, to catch corrections
0 4 * * *  /projects/rtc/shared/cron/task.sh votes_house year=current force=1
30 4 * * *  /projects/rtc/shared/cron/task.sh votes_senate year=current force=1

# floor updates
*/2 * * * *  /projects/rtc/shared/cron/task.sh floor_updates_live_senate
*/5 * * * *  /projects/rtc/shared/cron/task.sh floor_updates_live_house

# committee hearings
0 * * * * /projects/rtc/shared/cron/task.sh committee_hearings_senate
0 * * * * /projects/rtc/shared/cron/task.sh committee_hearings_house

# upcoming leadership information
0 * * * * /projects/rtc/shared/cron/task.sh upcoming_senate_daily
0 * * * * /projects/rtc/shared/cron/task.sh upcoming_house_daily


# Documents

# CRS reports
*/18 * * * * /projects/rtc/shared/cron/task.sh documents_crs_reports

# CBO cost estimates
*/19 * * * * /projects/rtc/shared/cron/task.sh documents_cbo_estimates

# GAO reports - add 1s between requests
*/20 * * * * /projects/rtc/shared/cron/task.sh documents_gao_reports rate_limit=1


# leave the newline here
